<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li>
          <a href="/home">
            <i class="bx bxs-grid-alt"></i>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="/products">
            <i class="bx bxs-shopping-bag"></i>
          </a>
          <span class="tooltip">Products</span>
        </li>
        <li>
          <a href="/categories">
            <i class="bx bx-list-check"></i>
          </a>
          <span class="tooltip">Categories</span>
        </li>

        <li>
          <a href="/orders">
            <i class="bx bxs-food-menu"></i>
          </a>
          <span class="tooltip">Orders</span>
        </li>
        <li>
          <a href="/customers">
            <i class="bx bx-body"></i>
          </a>
          <span class="tooltip">Customers</span>
        </li>
      </ul>
    </div>
  </body>
</html>
